footer#main-footer.text-center.p-4
      .container
        .row
          .col
            p
              | Copyright © 
              span#year
              |  YUM FASHION
script(src='/jquery/jquery.js')
script(language='javascript', src='/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js')
script(src='https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js')
script.
      $('#year').text(new Date().getFullYear());
      CKEDITOR.replace( 'editor1' );