extends layout1

block content
 header#page-header
      .container
        .row
          .col-md-6.m-auto.text-center
            h1 Get Posted
            p.text-center
              | The world needs to know about your Drip. Let them know right here.
 section#blog.py-3
    .container
      .row
        .col
          .card-columns
            .card
              img.img-fluid.card-img-top(src='https://source.unsplash.com/random/300x199', alt='')
              card-body
                h4.card-title Blog Post 1
                small.text-muted Written by Roger
                hr
                p.card-text
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas autem ex
                  | temporibus fuga odio possimus. Veniam reprehenderit inventore quasi saepe?
            .card.p-3.bg-success
              blockquote.card-blockquote.card-body
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione tenetur assumenda, accusantium
                  | aliquid fuga cumque!
                footer.blockquote
                  small.text-white
                    | Someone Famous 
                    cite(title='Source Title') Source Title
            .card
              img.img-fluid.card-img-top(src='https://source.unsplash.com/random/301x200', alt='')
              card-body
                h4.card-title Blog Post 2
                small.text-muted Written by Lance
                hr
                p.card-text
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas autem ex
                  | temporibus fuga odio possimus. Veniam reprehenderit inventore quasi saepe?
            .card.p-3.bg-info
              blockquote.card-blockquote.card-body
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione tenetur assumenda, accusantium
                  | aliquid fuga cumque!
                footer.blockquote
                  small.text-white
                    | Someone Famous 
                    cite(title='Source Title') Source Title
            .card
              img.img-fluid.card-img-top(src='https://source.unsplash.com/random/302x200', alt='')
              card-body
                h4.card-title Blog Post 3
                small.text-muted Written by Wade
                hr
                p.card-text
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas autem ex
                  | temporibus fuga odio possimus. Veniam reprehenderit inventore quasi saepe?
            .card.p-3.bg-danger.text-white
              blockquote.card-blockquote.card-body
                p
                  | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione tenetur assumenda, accusantium
                  | aliquid fuga cumque!
                footer.blockquote
                  small.text-white
                    | Someone Famous 
                    cite(title='Source Title') Source Title
    include partials/footer                
