extends layout2

block content
 header#main-header.py-2.edit-page-color.text-white
      .container
        .row
          .col-md-6
            h1
              i.fas.fa-user-edit
              |  Edit
 section#actions.py-4.mb-4.bg-light
      .container
        .row
          .col-md-3.mr-auto
            a.btn.text-white.edit-page-color(href='/category')
              i.fa.fa-arrow-left
              |  Back To Category
 section#post.mb-3
      .container
        .row
          .col
            .card
              .card-header
                h4 Edit User
              .card-body
                form(method="post")
                  .form-group
                    label(for='room') Title
                    input.form-control(name="room", type='text', placeholder='Enter a title' value=`${category.room}`)
                    button.btn.edit-page-color.text-white.mt-2(type="submit") Save Changes
 include partials/footer2