doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='./css/intro.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    title= title
  body
    // Start Here
    nav.navbar.navbar-expand-sm.topNav.navbar-dark
      .container
        img.img-fluid(src='/images/Ice_Cream.png', alt='', width='50px', height='50px')
        a.navbar-brand(href='/') YUM
        button.navbar-toggler(data-toggle='collapse', data-target='#navbarCollapse')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/sign-up') Sign Up 
    .container-second
      .banner-on-login
        form.sign-up-form(action="/login", method="post")
          input.form-input(name="username", type='text', placeholder='Username')
          input.form-input(name="password", type='password', placeholder='Password')
          button(type='submit') Log In
          span#control
    include partials/footer