extends layout2

block content
  header#main-header.py-2.bg-primary.text-white
      .container
        .row
          .col-md-6
            h1
              i.fa.fa-pencil
              |  Post
  section#actions.py-4.mb-4
      .container
        .row
          .col-md-3.mb-3
            a.btn.btn-primary.btn-block(href='#', data-toggle='modal', data-target='#addPost')
              i.fas.fa-plus
              |  Add Post
          .col-md-6.ml-auto
            .input-group
              input.form-control(type='text', placeholder='Search')
              span.input-group-btn
                button.btn.btn-primary Search
  #addPost.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.bg-primary.text-white
            h1.modal-title
              i.fa.fa-pencil
              |  Add Post
            button.close(data-dismiss='modal')
              span ×
          .modal-body
            form(method="post")
              .form-group
                label(for='title') Title
                input.form-control(name="title" type='text')
              .form-group
                label(for='image') Upload Image
                .custom-file
                  input#image.custom-file-input(type='file')
                  label.custom-file-label(for='image') Choose file
                small.form-text.text-muted Max Size 5mb
              .form-group
                label(for='body') Body
                textarea.form-control(name='editor1')
                button.btn.btn-primary.mt-2(type="submit") Save Changes
  section#action.py-4.mb-4
      .container
        .row
          .col
            .card
              .card-header
                h4 Latest Post
              table.table.table-striped.table-hover
                thead.thead-dark
                  tr
                    th Title
                    th Date Posted
                    th 
                    th 
                tbody
                  each post in posts
                    tr
                      td= post.title
                      td July 12, 2019
                      td
                        a.btn.btn-secondary(href=`post/edit/${post.id}`)
                          i.fa.fa-angle-double-right
                          |  Edit
                      td
                        a.btn.btn-secondary(href=`post/delete/${post.id}`)
                          i.fa.fa-remove
                          |  Delete                            
  include partials/footer