doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./css/intro.css')
    script(src='https://kit.fontawesome.com/1946a965ff.js', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap', rel='stylesheet')
    title Yum Fashion
  body
    .container-signUp
      .banner
        h1.banner-heading JOIN THE YUMMY COMMUNITY
        .arrow
          i.fas.fa-arrow-down
        button.banner-btn Click Now
      .form-container-of-signup
        .header-of-signup
          h1 Get Access To Exclusive Content
        .x-btn-sign-up ✕
        form.sign-up-form(method="post")
          input.form-input(name="firstName", type='text', placeholder='First Name')
          input.form-input(name="lastName", type='text', placeholder='Last Name')
          input.form-input(name="emailAddress", type='email', placeholder='Email Address')
          input.form-input(name="password", type='password', placeholder='Password')
          button(type='submit') Submit
    script(src='./js/app.js')